# Example config
# This file should live at ~/.config/desklightconf
# Config file location can be overridden by setting $DESK_LIGHT_CONFIG_PATH
LIGHT_IP="192.168.1.1"
LIGHT_BLUE="255"
LIGHT_WHITE="255"